<div class="home-page">

</div>

<div class="slideimages">
    <div class="slide2">
        <div id="img" class="img3"><img src="../../assets/Images/happy-customer1.avif" height="500px" width="100%">
        </div>
        <div id="imge1" class="img4"><img src="../../assets/Images/happy-customer4.avif" height="500px" width="100%">
        </div>
        <div id="imge2" class="img3"><img src="../../assets/Images/happy-customer1.avif" height="500px" width="100%">
        </div>
        <div id="imge3" class="img4"><img src="../../assets/Images/happy-customer4.avif" height="500px" width="100%">
        </div>
    </div>
</div>


<div class="value">
    <p>IT IS MORE THAN JUST SALES</p>
</div>


<div class="slide1">
    <div class="img1">
        <img src="../../assets/Images/him1.avif" height="500px" style="border-radius: 55px;">

    </div>
    <div class="img2">
        <img src="../../assets/Images/happy-customer3.avif" height="500px" style="border-radius: 55px;">

    </div>
</div>


<div class="gifts">
    <div class="her">
        <p style="font-family: ui-sans-serif;margin-top: 20px;font-weight: bolder;" [routerLink]="['Him']">For Him</p>
    </div>
    <div class="him">
        <p style="font-family: ui-sans-serif;margin-top: 20px;font-weight: bolder;" [routerLink]="['Her']">For Her</p>
    </div>
</div>


<div class="special-offers" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="offer1"></div>
  <div class="offer2"></div>
</div>

<div class="ending-video">
    <div class="endings">
        <div class="ending-img3">
            <video style="width: 500px; height: 500px;" autoplay loop>
                <source src="../../assets/Videos/Video.mp4" type="video/mp4">
            </video>
            <p class="ends1" style="font-style: oblique;">BLASTS FROM PAST</p>
            <P class="ends2" style="font-style: oblique;">EARN MORE REWARDS ON EACH PURCHASE</P>
        </div>
    </div>
    <div class="endings1">
        <div class="ending-img1" style="font-family: ui-sans-serif;">
        </div>
        <div class="ending-img2" style="font-family: ui-sans-serif;">
        </div>
    </div>
</div>

<div class="rewards">
  <div class="r1">

  </div>
  <div class="r2">

  </div>
  <div class="r3">

  </div>
</div>


  <button (click)="topFunction()" id="myBtn" title="Go to top">UP</button>

  

<div class="social-media">
  <div class="social1" >
    <i class="fa-brands fa-square-instagram"></i></div>&nbsp; &nbsp;
  <div class="social2">
  <i class="fa-brands fa-facebook"></i></div>&nbsp;&nbsp;
  <div class="social3">
  <i class="fa-brands fa-twitter"></i></div>&nbsp;&nbsp;
  <div class="social4">
  <i class="fa-brands fa-youtube"></i></div>
</div>


<footer>
  <div class="footer-top">
    <div class="footer-top-word">
      <i class="fa-solid fa-bag-shopping"></i>
    <p  style="font-weight: bold;">EASY EXCHANGE</p>
  </div>
<div class="footer-top-word">
  <i class="fa-solid fa-hand-holding-heart"></i>
  <p  style="font-weight: bold;">100% HANDPICKED</p>
</div>

<div class="footer-top-word">
  <i class="fa-regular fa-handshake"></i>
  <p  style="font-weight: bold;">ASSURED QUALITY</p>
</div>

  </div>

  <div class="footer-end">
    <div class="end1" style="font-weight: bold;">
      <p>BWARE</p>
      <p>Who We Are</p>
      <p>Join Our Team</p>
      <p>Terms & Conditions</p>
      <p>Fees & Payments</p>
    </div>
    <div class="end2" style="font-weight: bold;">
      <p>HELP</p>
      <p>Track Your Order</p>
      <p>Frequently Asked Questions</p>
      <p>Returns</p>
      <p>Cancellations</p>
      <p>Payments</p>
      <p>Customer Care</p>
    </div>
    <div class="end3" style="font-weight: bold;">
      <p>SHOP BY</p>
      <p>Men</p>
      <p>Women</p>
      <p>Kids</p>
    </div>
    <div class="end4" style="font-weight: bold;">
      <p>FOLLOW US</p>
      <p>Facebook</p>
      <p>Instagram</p>
      <p>Twitter</p>
      <p>Pinterest</p>
    </div>
  </div>

  <div class="theend">
    <p class="paymentmethods" style="font-weight: bold;">Payment Methods</p>
    <div class="paymentmethods" style="font-weight: bold;">
      Net Banking 🏦  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Verifiedby VISA 💳 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         Cash On Delivery 💵
    </div>
    <div class="copyright">
      <p>&copy;Copyright Reserved 2023</p>
    </div>
  </div>

</footer>
