<nav>
  <div class="top-left">
    <i class="fa-solid fa-location-dot"></i> &nbsp;
    <p style="font-family: ui-sans-serif;">India &nbsp; &nbsp; Client Services</p>
  </div>&nbsp;&nbsp;
  <div class="top-logo" style="cursor: pointer;" [routerLink]="['']">
    B W A R E
  </div>
  <div class="top-right">
    <p class="nav-linking" style="font-family: ui-sans-serif;cursor: pointer;" [routerLink]="['Him']">For Him</p>&nbsp;&nbsp;
    <p class="nav-linking" style="font-family: ui-sans-serif;cursor: pointer;" [routerLink]="['Her']">For Her</p>&nbsp;&nbsp;
    <p class="nav-linking" style="font-family: ui-sans-serif;cursor: pointer;" [routerLink]="['Unisex']">Unisex</p>&nbsp;&nbsp;
    <p class="nav-linking" style="font-family: ui-sans-serif;cursor: pointer;" [routerLink]="['choice']">Get In</p>
    
    <i class="fa-solid fa-cart-shopping"></i> &nbsp;
    <p style="font-family: ui-sans-serif;cursor: pointer;" class="nav-linking">Bag</p>
  </div>
</nav>
<router-outlet></router-outlet>